*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 1rem 2%;
}

.nav-bar li {
  list-style: none;
  display: inline-block;
  color: #e0e0e0;
  font-family: sans-serif;
}

.logo {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.options li {
  margin: 0 1rem;
  font-size: 1.3rem;  
}

.options ul {
  display: flex;
  align-items: center;
}

.color-white {
  color:#999999;
  margin-left: 5px;
  font-size: 10px;
}

.align-logo {
  display: flex;
  align-items: center;
}

textarea:focus { 
  outline: none !important;
  border-color: rgba(0, 0, 0, 0);

}

.employee-search {
  resize: none;
  height: 1.2rem;
  align-items: center;
  margin-bottom: -3px;
  border: none;
  border-bottom: 3px solid white;
  background-color: rgba(0, 0, 0, 0); 
  border-color: rgba(0, 0, 0, 0);
  
}